[role="button"] {
  padding: 15px 100px;
  overflow-wrap: initial;
  white-space: nowrap;
}

.galleryxd {
  max-width: 100%;
  width: 100%;
}

.buy {
  padding-left: 0;
  max-width: 310px;
}

.phone-buy {
  margin-top: 24px;
}

.carouselxd {
  justify-content: center;
  transform: translate(-50%, -50%); /* Adjust to truly center the child */
  top: 45%;
  left: 50%;
}
